<!DOCTYPE HTML>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="{{ path_to_root }}">

        <link rel="shortcut icon" href="images/favicon.png">

        <link rel="stylesheet" href="css/book.css">

        <!-- TODO use OpenSans from local -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/highlight.css">
        <link rel="stylesheet" href="css/tomorrow-night.css">

        <!-- TODO use MathJax from local -->
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="js/jquery-2.1.4.min.js"></script>

    </head>
    <body class="light">
        <!-- Set the theme before any content is loaded, prevents flash -->
        <script type="text/javascript">
            var theme = localStorage.getItem('theme');
            if (theme == null) { theme = 'light'; }
            $('body').removeClass().addClass(theme);
        </script>

        <!-- Hide / unhide sidebar before it is displayed -->
        <script type="text/javascript">
            var sidebar = localStorage.getItem('sidebar');
            if (sidebar === "hidden") { $("html").addClass("sidebar-hidden") }
            else if (sidebar === "visible") { $("html").addClass("sidebar-visible") }
        </script>

        <div id="sidebar" class="sidebar">
            {{#toc}}{{/toc}}
        </div>

        <div id="page-wrapper" class="page-wrapper">

            <div class="page">
                <div id="menu-bar" class="menu-bar">
                    <div class="left-buttons">
                        <i id="sidebar-toggle" class="fa fa-bars"></i>
                        <i id="theme-toggle" class="fa fa-paint-brush"></i>
                    </div>

                   <div class="translations">
                       {{#translations}}{{/translations}}
                   </div>

                    <h1 class="menu-title">{{ title }}</h1>

                    <div class="right-buttons">
                        <i id="print-button" class="fa fa-print" title="Print this book"></i>
                    </div>
                </div>



                <div id="content" class="content">
                    {{{ content }}}
                </div>

                <!-- Mobile navigation buttons -->
                {{#previous}}
                    <a href="{{link}}" class="mobile-nav-chapters previous">
                        <i class="fa fa-angle-left"></i>
                    </a>
                {{/previous}}

                {{#next}}
                    <a href="{{link}}" class="mobile-nav-chapters next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                {{/next}}

            </div>

            {{#previous}}
                <a href="{{link}}" class="nav-chapters previous" title="You can navigate through the chapters using the arrow keys">
                    <i class="fa fa-angle-left"></i>
                </a>
            {{/previous}}

            {{#next}}
                <a href="{{link}}" class="nav-chapters next" title="You can navigate through the chapters using the arrow keys">
                    <i class="fa fa-angle-right"></i>
                </a>
            {{/next}}

        </div>

        <script src="js/highlight.js"></script>
        <script src="js/book.js"></script>
    </body>
</html>
